**`Transformaciones`**:  Para este MVP no necesitas perfección, ¡necesitas rapidez! ⏩ Vas a hacer estas, ***y solo estas***, transformaciones a los datos:


+ Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

+ Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

+ De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

+ Los campos de texto deberán estar en **minúsculas**, sin excepciones

+ El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

<br/>

In [1]:
import pandas as pd
import numpy as np

### Cargamos los datos

In [2]:
amazon_df = pd.read_csv("amazon_prime_titles.csv")
amazon_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [27]:
amazon_df.shape

(9668, 12)

In [3]:
disney_df = pd.read_csv("disney_plus_titles.csv")
disney_df.tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [47]:
disney_df.shape

(1450, 14)

In [4]:
hulu_df = pd.read_csv("hulu_titles.csv")
hulu_df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...

In [13]:
hulu_df.shape

(3073, 12)

In [5]:
netflix_df = pd.read_csv("netflix_titles.csv")
netflix_df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [14]:
netflix_df.shape

(8807, 12)

+ Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

In [7]:
def generar_id(df, letra):
    df['Aux'] = letra # Agregamos una nueva columna auxiliar 
    df['id'] = df.Aux.str.cat(df.show_id) # Concatenamos la nueva columna con 'show_id"
    df.drop(columns=['Aux'], inplace = True) # Eliminamos las columnas que ya no sirven

In [8]:
generar_id(amazon_df,'a')  
generar_id(disney_df,'d')
generar_id(hulu_df,'h')
generar_id(netflix_df,'n')

In [9]:
amazon_df.head(3)
#disney_df.head(3)
#hulu_df.head(3)
#netflix_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3

+ Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [10]:
def remplazo_NaN(df):
    df.rating.fillna('G', inplace = True)

In [11]:
remplazo_NaN(amazon_df)
remplazo_NaN(disney_df)
remplazo_NaN(hulu_df)
remplazo_NaN(netflix_df)

In [12]:
amazon_df.head(3)
#disney_df.head(3)
#hulu_df.head(3)
#netflix_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3

+ De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [13]:
def edicion_fechas(df):
    df['date_added'] = pd.to_datetime(df['date_added'])
    #Amazon['date_added'] = pd.to_datetime(Amazon['date_added'])

In [14]:
edicion_fechas(amazon_df)
edicion_fechas(disney_df)
edicion_fechas(hulu_df)
edicion_fechas(netflix_df)

In [39]:
#amazon_df.head(3)
#disney_df.head(3)
#hulu_df.head(3)
netflix_df.head(3)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",ns2
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ns3

+ Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [15]:
def conversion_minus(df):
    l = len(df.columns) - 1
    for i in range(0,l):
        if df[df.columns[i]].dtype == 'O':
            df[df.columns[i]] = df[df.columns[i]].str.lower()
        else:
            continue

In [16]:
conversion_minus(amazon_df)
conversion_minus(disney_df)
conversion_minus(hulu_df)
conversion_minus(netflix_df)

In [15]:
#amazon_df.head(3)
disney_df.head(3)
#hulu_df.head(3)
#netflix_df.head(3)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1
1,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2
2,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3

+ El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [17]:
def separacion(DF):
    DF[['duration_int', 'duration_type']] = DF['duration'].str.split(' ', expand=True)

In [18]:
separacion(amazon_df)
separacion(disney_df)
separacion(hulu_df)
separacion(netflix_df)

In [19]:
#amazon_df.head(3)
disney_df.head(3)
#hulu_df.head(3)
#netflix_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min

In [20]:
# Convertimos la columna 'duration_int' a tipo entero en cada dataset
amazon_df.duration_int = amazon_df.duration_int.astype("Int64")
disney_df.duration_int = disney_df.duration_int.astype('Int64')
hulu_df.duration_int = hulu_df.duration_int.astype('Int64')
netflix_df.duration_int = netflix_df.duration_int.astype('Int64')

In [21]:
# Conprobamos que se ha realizado la conversión
print(amazon_df['duration_int'].dtype)
print(disney_df['duration_int'].dtype)
print(hulu_df['duration_int'].dtype)
print(netflix_df['duration_int'].dtype)

Int64
Int64
Int64
Int64

### Unificación de los datasets

In [65]:
muvies_set = pd.concat([amazon_df, disney_df, hulu_df, netflix_df])

In [66]:
#exporto el archivo a un csv nuevo:
muvies_set.to_csv("movie_set.csv", index=False)

In [67]:
muvies_set.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min

## Obtencion del score

el siguiente análisis es siguiendo indicaciones de un compañero que ahora compruebo que hacen las cosas
sin reflexionar

In [24]:
df1 = pd.read_csv('1.csv')
df2 = pd.read_csv('2.csv')
df3 = pd.read_csv('3.csv')
df4 = pd.read_csv('4.csv')
df5 = pd.read_csv('5.csv')
df6 = pd.read_csv('6.csv')
df7 = pd.read_csv('7.csv')

In [25]:
df1.shape

(1500000, 5)

In [30]:
df1.head(5)

   Unnamed: 0  userId  rating   timestamp movieIdG
0           0       1     1.0  1425941529  net5216
1           1       1     4.5  1425942435  net4230
2           2       1     5.0  1425941523  ama3278
3           3       1     5.0  1425941546  ama4934
4           4       1     5.0  1425941556  ama7876

In [27]:
df2.movieIdG.unique().shape

(22998,)

In [26]:
ratings = [df1, df2, df3, df4, df5, df6, df7]

In [28]:
df_ratings = pd.concat(ratings)

In [29]:
df_ratings.shape

(9524289, 5)

In [30]:
df_ratings['movieIdG'].unique().shape

(22998,)

In [35]:
df_ratings_puntos = df_ratings.loc[:,['movieIdG','rating']]
df_ratings_puntos

       movieIdG  rating
0       net5216     1.0
1       net4230     4.5
2       ama3278     5.0
3       ama4934     5.0
4       ama7876     5.0
...         ...     ...
524284  ama4679     5.0
524285  hul1430     5.0
524286  ama1223     4.5
524287  net8697     4.5
524288  ama4485     2.0

[9524289 rows x 2 columns]

In [41]:
df_rating = df_ratings_puntos.groupby("movieIdG").mean()

In [42]:
df_rating

            rating
movieIdG
ama1      3.576484
ama10     3.503797
ama100    3.446548
ama1000   3.479452
ama1001   3.555409
...            ...
net995    3.535550
net996    3.580796
net997    3.554670
net998    3.482103
net999    3.582380

[22998 rows x 1 columns]

# Obtención del Score

In [75]:
muvies_set.shape

(22998, 15)

In [69]:
df_aux = pd.read_csv('movies_completo.csv')

In [70]:
df_aux.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,113.0,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,110.0,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,74.0,min

In [77]:
muvies_set['score'] = df_aux.score
#muvies_set.head(3)

In [80]:
muvies_set.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,score
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,99

In [81]:
muvies_set.to_csv("movie_set.csv", index=False)

In [82]:
muvies_df = pd.read_csv('movie_set.csv')
muvies_set.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,score
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,99
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,37