In [45]:
from fastapi import FastAPI, HTTPException
import pandas as pd
from pandasql import sqldf

In [47]:
# Creamos un data frame 
DF = pd.read_csv("movie_set.csv")
DF.head(3)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110.0,min
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74.0,min

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [48]:
pysqldf = lambda q: sqldf(q, globals())

In [49]:
DF = pd.read_csv("movie_set.csv")

In [51]:
query = '''SELECT * FROM DF WHERE id LIKE 'amazon' '''

In [52]:
result = pysqldf(query)
result.head()

AttributeError: 'Connection' object has no attribute 'connect'

In [28]:
def get_max_duration(platform = None, release_year = None, duration_type = None):
    DF = pd.read_csv("movie_set.csv")
    #maximo = DF['duration_int'].max
    #Definición de las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("amazon, disney, hulu, netflix.")
    pysqldf = lambda q: sqldf(q, globals())
    #QUERY:
    query = f"SELECT * FROM DF WHERE id LIKE '{plat}'"
    #result = sqldf(query)
    
    df = pysqldf(query)	
    df.head()

In [29]:
get_max_duration('amazon')

AttributeError: 'Connection' object has no attribute 'connect'

In [ ]:
def get_max_duration(year = None, platform = None, duration_type = None):
    DF = pd.read_csv("movie_set.csv")
    maximo = DF['duration_int'].max
    #Definición de las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("amazon, disney, hulu, netflix.")
    
    DF_filtro = DF[(DF['release_year'] == year) & (DF['duration_type']=='duration_type') & (DF['id']=='duration_type')]
    
    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE title LIKE '%{keyword}%' AND id LIKE '{plat}'"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)